<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/treeflex/dist/css/treeflex.css" rel="stylesheet">
    <link href="{{url_for('static',filename='base.css')}}" rel="stylesheet">
    {% block Head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Gerar</a></li>
            <li><a href="/start">Batalha</a></li>
            <li><a href="https://github.com/feiticeiro-tec/BattleCode" target='_black'>GitHub</a></li>
        </ul>
    </nav>
    <article>
        <div class="tf-tree">
            <ul>
            {{Estrutura | safe}}
            </ul>
        </div>
        {% block Body %}{% endblock %}
    </article>
    
    
</body>
</html>